<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
<div style="border: 3px solid darkgreen; margin: auto">

    <a href="/user/home">back</a>
    <h1>All user information</h1>
    {{ range . }}
    <div style="border: 3px solid black; margin: auto">
        <div style="border: 2px solid brown; margin: auto">
            <p>Username: {{ .User.Username }}</p>
            <p>IIN: {{ .User.IIN }} </p>
            <p>Role: {{ .User.Role }}</p>
            <p>Date of registration: {{ .User.RegisterDate}} </p>
            <a href="/user/upgrade/{{ .User.Username }}">Upgrade</a>
        </div>
        <div style="border: 2px solid brown;">
            {{range .Accounts }} {{$sliceLen := len .Number}} {{if gt $sliceLen 0}}
            <p>Account number: {{ .Number}} </p>
            <p>Available money: {{ .Balance}} </p>
            <p>Registration date: {{ .RegisterDate}} </p>
            <p>Last transaction date: {{ .LastTransaction}} </p>
            {{else}} No avaialble accounts yet {{end}} {{end}}
        </div>
    </div>

    {{end}}
</div>
</body>

</html>