<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization Service</title>
    <link href="style.css" rel="stylesheet">

</head>

<body>
<div style="border: 3px solid darkgreen; margin: auto; width: 500px; height: 700px">
    <div class="form">

        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up to Authorization Service</h1>
                <form action="#" method="post">
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>Username<span class="req">*</span></label><br>
                            <input type="text" name="username" required autocomplete="off" />
                        </div>
                        <div class="field-wrap">
                            <label>Identification Number<span class="req">*</span></label><br>
                            <input type="text" name="iin" required autocomplete="off" />
                        </div>
                        <div class="field-wrap">
                            <label>Password<span class="req">*</span></label><br>
                            <input type="password" name="password" required autocomplete="off" />
                        </div>
                        <button type="submit" class="button button-block">Sign Up</button>
                        <br>
                        <ul class="tab-group">
                            <li class="tab">Have an account? <a href="/login">Log In here</a></li>
                        </ul>
                </form>
                </div>
            </div>

        </div>

</div>
</body>

</html>